!!!5
%html
  %head
    %title Webios demo
    %meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
    %link(rel="stylesheet" href="webios/webios-screen.css" type="text/css" media="screen" title="" charset="utf-8")
    %link(rel="stylesheet" href="webios/webios-components.css" type="text/css" media="screen" title="" charset="utf-8")
    %script(src="webios/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8")
    %script(src="webios/webios-screen.js" type="text/javascript" charset="utf-8")
    %script(src="webios/webios-components.js" type="text/javascript" charset="utf-8")
  %body.black-opaque
    #screen-container
      #home-screen.screen
        .navbar
          %h1 Webios
        .row.header
          What?
        .row
          Webios is a CSS/JavaScript framework for iPhone web applications.
        .row.header
          Why?
        .row
          Unlike other frameworks, Webios will support all native iPhone controls.
        %ul.segmented.row.x3.vskip10
          %li All
          %li Recent
          %li.link.active(href="#second-screen") Others
        %ul.segmented.bordered.row.x4.vskip8
          %li Neither
          %li Item
          %li Is
          %li Selected
        %ul.segmented.row.x2.vskip8
          %li Two
          %li Items
        %ul.segmented.row.x5.vskip8
          %li Five
          %li.active Little
          %li Items
          %li Are
          %li Here
        .tabbar
          .tab
      #second-screen.screen
        .navbar
          %h1.link.back(href='#home-screen') Foo
        .tabbar
          .tab
