*.pyc
.DS_Store
/web/static/theme/theme*.css
/web/static/iphone/iphone.css
/web/static/designer*.js
/web/static/*.css
/web/static/*.js
/web/*.html
/web/minified
/web/src-static/*.js
/web/webios/*.html
/web/webios/webios/webios-*.css
/web/webios/webios/webios-*.js
/server/app.js
.*.sum
.dev_appserver.datastore
.*.d
/node_modules