!!! 5
%html
  %head
    %script(src="jquery-1.4.2.js" type="text/javascript" charset="utf-8")
    %script(src="underscore.js" type="text/javascript" charset="utf-8")
    %script(src="modelkit.js" type="text/javascript" charset="utf-8")
    %script(src="moadesigner.js" type="text/javascript" charset="utf-8")
    %link(rel="stylesheet" href="animations.css" type="text/css" media="screen" title="no title" charset="utf-8")
    %link(rel="stylesheet" href="moadesigner.css" type="text/css" media="screen" title="no title" charset="utf-8")
  %body
    #design-screen.screen
      .toolbar
        .left
          %a#go-myapps(href="#myapps") My Applications
          %a#undo(href="#undo") Undo
        .right
          %a#add-button(href="#") +
          %a#cool-button(href="#") Share
        %h1 Mobile App Designer
        
      .left-pane
      
      #design-pane
        #hover-panel.hover-panel
          .handle.delete-handle
          .handle.duplicate-handle

      .palette
        .tip
        .top
          %h1 Drag a component to add
        .content
        .bottom

