#header-pane.pane
  #header-container.container
    h1 Mockko: iPhone UI Design Is Now Addictive.
    h2 Quickly create gorgeous prototypes and share them with your customers or developers.
    #title-overlay
  #button-container.container
    .sep-left
    .button(href="#")
    //#download.button(href="#download")
    // .label Download
    // .sublabel Win/OS X coming soon
    a#run-in-browser.button(href="//andreyvit.mockko.local:3000")
      .label Run in Browser
      .sublabel Safari/Chrome only, iPad soon
    .button(href="#")
    //#buy.button(href="buy")
    // .label Prepare to Buy
    // .sublabel We're getting beta and beta
    .sep-right
#screenshots-and-features-pane.pane
  .container
    .features
      ul
        li#feat-palette
          .sep
          | Bars, Buttons, Maps and Panels included
        li#feat-magicsnap
          .sep
          | MagicSnap for instant layouts
        li#feat-run
          .sep
          | Run designs on iPhone or in browser
        li#feat-glyphish
          .sep
          | Includes Glyphish icons
        li#feat-ipad
          .sep
          | iPad mockups coming soon
      .sep
    .screenshots
      img(src="/images/marketing/screenshots/mockko.png", alt="")
