!!! 5
%html
  %head
    %script(src="../static/lib/jquery-1.4.2.js" type="text/javascript" charset="utf-8")
    %script(src="../static/lib/jquery-ui-1.8.custom.min.js" type="text/javascript" charset="utf-8")
    %script(src="../static/lib/underscore.js" type="text/javascript" charset="utf-8")
    %script(src="../static/designer-jqueryaddons.js" type="text/javascript" charset="utf-8")
    %script(src="../static/designer-components.js" type="text/javascript" charset="utf-8")
    %script(src="../static/designer.js" type="text/javascript" charset="utf-8")
    %link(rel="stylesheet" href="../static/lib/animations.css" type="text/css" media="screen" title="no title" charset="utf-8")
    %link(rel="stylesheet" href="../static/theme/theme-common.css" type="text/css" media="screen" title="no title" charset="utf-8")
    %link(rel="stylesheet" href="../static/theme/theme-designer.css" type="text/css" media="screen" title="no title" charset="utf-8")
    %link(rel="stylesheet" href="../static/theme/theme-dashboard.css" type="text/css" media="screen" title="no title" charset="utf-8")
    %link(rel="stylesheet" href="../static/iphone/iphone.css" type="text/css" media="screen" title="no title" charset="utf-8")
  %body
    #dashboard-screen.screen
      .toolbar
        .left
          %a#new-app-button(href="#") New Application
        .right
          %a#logout-button(href="#") Sign Out
        %h1 My Applications
        
      #apps-list
        #app-template.app.template
          .pile1
          .pile2
          .content
          .caption
            My Frickin' App
            
      #dashboard-logo
        .title Make-App
        .subtitle The Mobile Application Designer
        

    #design-screen.screen

      #designer-logo
        .title Make-App
        .subtitle The Mobile Application Designer

      .toolbar
        .left
          %a#login-button(href="#") Sign In To Continue
          %a#dashboard-button(href="#myapps") My Applications
          %a#undo-button(href="#undo")
            #undo-hint
              %span Undo something...
            Undo
        .right
          %a#logout-button(href="#") Sign Out
          %a#add-button(href="#") +
          %a#share-button(href="#") Share
        %h1#app-name
        
      #screens-pane.left-pane
        #screens-list
        #add-screen-button
      
      #design-pane
        #device-panel.d-iphone-po
        #hover-panel.hover-panel
          .handle.delete-handle
            .tip delete
          .handle.duplicate-handle
            .tip duplicate

      .palette
        .tip
        .top
          %h1 Drag To Add
        .content
          #palette-container

      #share-popover
        .tip
        .top
          %h1 Copy or paste JSON data
        .content
          %textarea
