!!! 5
%html
  %head
    %script(src="../static/lib/jquery-1.4.2.js" type="text/javascript" charset="utf-8")
    %script(src="../static/lib/jquery-ui-1.8.custom.min.js" type="text/javascript" charset="utf-8")
    %script(src="../static/lib/underscore.js" type="text/javascript" charset="utf-8")
    %script(src="../static/designer-jqueryaddons.js" type="text/javascript" charset="utf-8")
    %script(src="../static/designer-components.js" type="text/javascript" charset="utf-8")
    %script(src="../static/designer.js" type="text/javascript" charset="utf-8")
    %link(rel="stylesheet" href="../static/lib/animations.css" type="text/css" media="screen" title="no title" charset="utf-8")
    %link(rel="stylesheet" href="../static/theme/theme.css" type="text/css" media="screen" title="no title" charset="utf-8")
    %link(rel="stylesheet" href="../static/iphone/iphone.css" type="text/css" media="screen" title="no title" charset="utf-8")
  %body
    #design-screen.screen
      .toolbar
        .left
          %a#go-myapps(href="#myapps") My Applications
          %a#undo-button(href="#undo")
            #undo-hint
              %span Undo something...
            Undo
        .right
          %a#add-button(href="#") +
          %a#share-button(href="#") Share
        %h1 Make App
        
      .left-pane
      
      #design-pane
        #device-panel.d-iphone-po
        #hover-panel.hover-panel
          .handle.delete-handle
            .tip delete
          .handle.duplicate-handle
            .tip duplicate
          .handle.move-handle
            .tip move

      .palette
        .tip
        .top
          %h1 Drag a component to add
        .content
        .bottom

      #share-popover
        .tip
        .top
          %h1 Copy or paste JSON data
        .content
          %textarea
        .bottom

