!!!
html
  head
    title Log In or Sign Up
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,bolditalic&subset=latin", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold&subset=latin", rel="stylesheet", type="text/css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/login.js")
  body
    .login-box

      h1
        span.el.log-in-el.active Log In
        span.or or
        span.el.sign-up-el.active(title="To signup, just enter your email here.") Sign Up

      .field-text.field-email
        label Email:
        input(type="text", id="email", name="email", value="andreyvit@gmail.com")
        #email-spinner.spinner(src="") L

      .login-group.visible

        p Sorry, you need JavaScript enabled for Mockko to work.

      #email-tip-group.login-group

        p Please enter your email address to continue.

      #error-group.login-group

        p
          | Sorry: 
          span#error-message Unknown error occurred.

      #existing-account-with-password-group.login-group

        p Welcome back, andreyvit@gmail.com! Please enter your password to continue.
  
        .field-text.field-password
          label Password:
          input(type="password", id="password", name="password", value="")

        .under-field
          a(href="#") Forgot your password?

        .field-checkbox
          input(type="checkbox", id="remember-me", name="remember-me", checked="checked")
          label(for="remember-me") Remember me

        .field-submit
          input(type="submit", value="Log In")


      #existing-account-via-google-group.login-group

        p Welcome back! Please log in with your Google account, and we'll send you right along.
  
        #google-login
          button Log in with your Google Account


      #new-account-group.login-group

        p Hey, nice to meet you! Would you please introduce yourself?
  
        .field-text.field-full-name
          label Full Name:
          input(type="text", id="full_name", name="full_name", value="Andrey Tarantsov")

        .field-text.field-company
          label Company:
          input(type="text", id="company", name="company", value="Mockko")

        .field-submit
          input(type="submit", value="Start using Mockko")
