
@import "theme-mixins";

html, body {
    height: 100%;
}

body {
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
    font-family: Helvetica;
    -webkit-touch-callout: none;
    overflow: hidden;
}
.selectable, input, textarea { -webkit-user-select: auto; }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


.screen {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    min-width: 790px;
    min-height: 580px;
    display: none;
}

.toolbar {
    -webkit-box-sizing: border-box;
    padding: 10px;
    height: 44px;
    position: relative;
    z-index: 1000;

    .normal-bar-background;

    .left, .right {
        line-height: 30px;
        height: 30px;
        top: 7px;
        position: absolute;
        font-size: 12px;
        font-weight: bold;
        z-index: 1;

        a {
            display: block;
            text-decoration: none;
            text-align: center;

            .silver-bar-button;

            width: auto;
            padding-left: 7px;
            padding-right: 7px;
        }
    }

    >.left {
        left: 9px;

        a {
            float: left;
            margin-right: 10px;
        }
    }

    >.right {
        right: 9px;

        a {
            float: right;
            margin-left: 10px;
        }
    }

    >h1 {
        position: absolute;
        overflow: hidden;
        top: 0px;
        left: 0px;
        right: 0px;
        line-height: 40px;
        margin: 1px 0 0 0px;
        height: 40px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.online-user .login-button { display: none !important; }
.offline-user .login-button { display: none !important; }
.offline-user .logout-button { display: none !important; }

#dashboard-logo, #designer-logo {
    position: absolute;
    top: 90%;
    right: 40px;
    margin-top: -40px;
    height: 80px;

    .title {
        font-size: 50px;
        line-height: 50px;
    }

    .subtitle {
        margin-top: 5px;
        font-size: 15px;
        font-weight: bold;
        line-height: 15px;
    }
}

#dashboard-logo {
    .title {
        color: rgba(255, 255, 255, 0.5);
    }

    .subtitle {
        color: rgba(255, 255, 255, 0.5);
    }
}

#designer-logo {
    .title {
        color: rgba(0, 0, 0, 0.4);
    }

    .subtitle {
        color: rgba(0, 0, 0, 0.4);
    }
}

.template {
    display: none;
}

.rendered {
    width: 320px;
    height: 480px;
    overflow: hidden;
}

.help-button {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 5px;
    height: 6px;
}

::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
    height: 2px;
    display: block;
    background-color: transparent;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-border-radius: 5px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-border-radius: 3px;
}

#help-popup {
  display: none;
  position: absolute;
  top: 35px;
  right: 20px;
  width: 338px;
  height: 489px;
  background: url(images/popup-help.png);
  z-index: 20000;

  /*
  &:after {
    display: block;
    content: "";
    position: absolute;
    background: url(images/popup-help-demo.png);
    width: 338px;
    height: 489px;
    left: 0px;
    top: 0px;
    opacity: 0.3;
  }
  */

  .close {
    position: absolute;
    width: 50px;
    height: 45px;
    right: 5px;
    top: 10px;
    cursor: pointer;
    xbackground: rgba(255,0,0,0.5);
    z-index: 1000;
  }

  > .body {
    margin: 50px 50px 0px 63px;
    text-shadow: 0px 1px rgba(255,255,255,0.75);
    font-size: 16px;
    line-height: 20px;
  }

  a {
    background: url(images/underline-blue.png) repeat-x 0% 100%;
    text-decoration: none;
    color: #265fad;
    &:hover {
      background-image: url(images/underline-blue-solid.png);
    }
  }

  .pane {
    header {
      font-size: 17px;
      font-weight: bold;
      margin-bottom: 10px;
      line-height: 1;
    }
    ul {
      li {
        font-size: 15px;
        display: block;
        list-style-type: none;
      }
    }
  }

  #help-topics, #help-support {
    ul {
      margin-left: 30px;
    }
  }

  #help-topics {
    height: 120px;
    .all {
      margin-top: 10px;
    }
  }

  #help-support {
    margin-top: 32px;
    height: 90px;
    a {
    }
  }

  #help-voting {
    margin-top: 39px;
    ul {
      min-height: 65px;

      li {
        display: block;
        list-style-type: none;
        margin-bottom: 1px;
        height: 20px;
        overflow: hidden;
        text-wrap: none;

        .votes {
          background: url(images/popup-help-votes-bg.png);
          color: #e1effe;
          text-shadow: 0px 1px rgba(0, 0, 0, 0.5);

          font-size: 11px;
          float: left;
          width: 20px;
          height: 16px;
          line-height: 15px;
          margin: 2px 10px 0px 0px;
          text-align: center;
        }

        &.loading {
          margin-left: 30px;
          font-size: 11px;
        }
      }
    }

    .all {
      margin-top: 10px;
    }
  }
}
