
.c-barButton {
	display: block;
	height: 30px;
	line-height: 30px;
	color: #fff;
	text-shadow: rgba(0,0,0,0.6) 0 -1px 0;
	text-decoration: none;
	-webkit-border-image: url("images/navleft.png") 0 5 0 13;
	border-width: 0 5px 0 13px;
	-webkit-border-top-left-radius: 16px;
	-webkit-border-bottom-left-radius: 16px;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	padding-left: 7px;
	padding-right: 7px;
	font-size: 12px;
	font-weight: bold;
}

.c-statusBar {
    background-image: url(images/statusbar-po.png);
}

.c-tabBar {
    background: url(images/tabbar-po.png) repeat-x;
}

.c-navBar {
    background: url(images/navbar-po.png) repeat-x;
}

.c-toolbar {
    background-image: url(images/toolbar.png);
}

.c-roundedButton {
    background: white;
    border: 1px solid #9d9e9e;
    -webkit-border-radius: 8px;
    text-align: left;
    color: #516691;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 44px;
}

.c-coloredButton {
    -webkit-border-image: url(images/button-colored-red.png) 0 12 0 12;
}

.c-buyButton {
    background-image: url(images/button-buy-green.png);
}

.c-switch {
    background-image: url(images/switch.png);
}

#device-panel.d-iphone-po {
    background-image: url(images/device-iphone-po.png);
    background-repeat: no-repeat;
    width: 414px;
    height: 770px;
}

