
@import "theme-mixins";

#design-screen {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0.0)), to(rgba(0, 0, 0, 0.0))), url(images/background-designer.png) repeat;
    
    #screens-list {
    	background: rgba(255, 255, 255, 0.5);
    	border-right: 3px solid rgba(0, 0, 0, 0.3);
    }
    
    #palette {
    	background: rgba(255, 255, 255, 0.5);
    	border-left: 3px solid rgba(0, 0, 0, 0.4);
    }
    
    .left-pane {
    }
    #device-panel {
        position: relative;
    }
    #design-pane {
/*        background: #dddfe4;*/
        position: absolute;
        left: 100px;
        top: 44px;
        right: 360px;
        bottom: 50px;
        overflow: hidden;
    }
    #design-area {
        position: absolute;
    }
}

#add-button {
    min-width: 50px;
}

.component {
    position: absolute;
    -webkit-transform: scale(1.0);
}

.component.movable {
    cursor: move;
}

.component.editing {
    -webkit-user-select: auto;
}

.component.dragging {
    z-index: 10000 !important;
    -webkit-transition: -webkit-transform 0.20s linear;
}

.component.dragging.anchored {
    -webkit-transition: -webkit-transform 0.20s linear, left 0.20s linear, top 0.20s linear;
/*    outline: 1px solid green;*/
}

.component.stackable {
    -webkit-transition: left 0.20s, top 0.20s;
/*    outline: 1px solid red;*/
}

.component.leaf {
}

.component.selected {
    outline: 1px dashed rgba(0, 0, 255, 0.8);
    z-index: 900;
/*    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 30px;*/
}

.hover-panel {
    position: absolute;
    z-index: 100;
    
    .handle {
        position: absolute;
        color: white;
        width: 16px;
        height: 16px;
        line-height: 16px;
        font-size: 12px;
        text-align: center;
        cursor: pointer;
        background: rgba(0, 0, 0, 0.5);
        -webkit-border-radius: 8px;
        
        :hover {
            background: yellow;
            color: red;
            
            .tip {
                visibility: visible;
            }
        }
        
        .tip {
            position: absolute;
            visibility: hidden;
            display: block;
            font-size: 12px;
            font-weight: bold;
            height: 16px;
            width: auto;
            line-height: 16px;
            -webkit-border-radius: 6px;
            background: rgba(0, 0, 0, 0.66);
            padding: 0px 6px;
            
            color: red;
        }
    }
    
    .delete-handle {
        left: -8px;
        top: -8px;
        
        .tip {
            top: -18px;
            left: -17px;
        }
    }
    .delete-handle:before {
        content: "X";
    }
    
    .duplicate-handle {
        left: 8px;
        top: -8px;
        
        .tip {
            top: -18px;
            left: -25px;
        }
    }
    .duplicate-handle:before {
        content: "D";
    }
    
    .move-handle {
        left: -8px;
        top: 8px;
        cursor: move;
        
        .tip {
            top: 18px;
            left: -16px;
        }
    }
    .move-handle:before {
        content: "M";
    }
    
}
.hover-panel.leaf .move-handle {
    display: none;
}

#share-popover {
    .popover;
    width: 320px;
    height: 600px;
    display: none;
    
    .content {
        padding: 10px 10px;
        textarea {
            width: 100%;
            height: 100%;
        }
    }
}

#share-popover.visible {
    display: block;
}

#palette {
    position: absolute;
    right: 0;
    top: 44px;
    bottom: 50px;
    width: 360px;
    
    padding: 5px 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    
    .group {
        .clearfix;
        
        .header {
            margin: 10px 5px 8px 5px;
            font-size: 12px;
            font-weight: bold;
            line-height: 16px;
        	color: #656C73;
        	text-shadow: rgba(255, 255, 255, 0.746094) 0px 1px 0px;
            border-bottom: 1px solid #656C73;
        }
    }
    
    .items {
        @scale: 1;
        width: 320px / @scale;
        -webkit-transform-origin-x: 0%;
        -webkit-transform-origin-y: 0%;
        -webkit-transform: scale(@scale);
    }
    
    .item.palette-tile {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border: 1px solid #656C73;
    }
    
    .item {
        border-radius: 5px;
        
        position: relative;
        float: left;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
        
        cursor: move;
        
        img {
            display: block;
            margin: 5px auto;
            line-height: 28px;
        }
        
        .caption {
            position: absolute;
            font-size: 10px;
            text-align: center;
            left: 0px;
            right: 0px;
            bottom: 0px;
            height: 12px;
            line-height: 12px;
            opacity: 0.8;
            color: #777;
        }
        
        :hover {
/*            background: rgba(100, 100, 100, 0.5);*/
/*            outline: 1px solid #656C73;*/
            -webkit-box-shadow: white 0px 0px 10px;
            
            .caption {
                opacity: 1;
                color: black;
                display: block;
            }
        }
    }
}

.palette.visible {
    display: block;
}

.component.cannot-drop {
    opacity: 0.75;
    -webkit-transform: scale(0.75);
}

#undo-button {
    cursor: pointer;
    width: 65px;
    
    #undo-hint {
        z-index: 10000;
        visibility: hidden;
        
        position: absolute;
        top: 30px;
        width: 400px;
        margin-left: -200px + 55px / 2;
        height: 16px;
        display: block;
        height: 16px;
        text-align: center;
        
        span {
            display: span;
            padding: 2px 10px;
            
            line-height: 16px;
            font-size: 12px;
            font-weight: bold;
            color: red;
            
            -webkit-border-radius: 6px;
            background: rgba(0, 0, 0, 0.66);
        }
    }
    :hover #undo-hint {
        visibility: visible;
    }
}

#screens-list {
    position: absolute;
    width: 100px;
    top: 44px;
    bottom: 50px;
	color: #656C73;
    padding-top: 5px;
	text-shadow: rgba(255, 255, 255, 0.746094) 0px 1px 0px;
}

.app-screen {
    
    padding: 5px 0px 0px 0px;
    cursor: pointer;
    width: 80px + 10px + 10px - 3px;
    height: 120px + 10px + 16px + 5px;

    .content {
        opacity: 0.9;
        margin: 0px 6px 0px 4px;
        width: 90px;
        height: 130px;
        padding: 5px;
        background: #000;
        -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
        -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
        -webkit-border-radius: 5px;
        overflow: hidden;
        
        .rendered {
            -webkit-transform-origin-x: 0%;
            -webkit-transform-origin-y: 0%;
            -webkit-transform: scale(0.25);
        }
    }
    
    .caption {
        width: 100%;
        text-align: center;
        font-size: 12px;
        line-height: 16px;
    }
    
}

.app-screen.active {
    background: rgba(0, 0, 0, 0.2);
    .content {
/*        -webkit-box-shadow: 0 3px 6px rgba(255,255,255,0.5);*/
    }
    .caption {
        color: #000;
    }
}

#add-screen-pane {
    position: absolute;
    left: 0px;
    width: 100px;
    bottom: 0px;
    height: 51px;
    background: url(images/background-inspector.png) repeat-x;
    border-top: 1px solid @tab-border-color;
}

#add-screen-button {
    .silver-bar-button;
    cursor: pointer;
    position: absolute;
    z-index: 1000;
    bottom: 10px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    width: 90px;
	font-size: 12px;
	font-weight: bold;
	margin: 0px 5px 0px 5px;
/*    font-size: 14px;
    background: black;
    color: white;
    border: 1px solid #ccc;
*/}
#add-screen-button:before { content: "Add Screen"; }

.anonymous-user #dashboard-button { display: none; }


#welcome-screen {
    background: rgba(0, 0, 0, 0.5);
}

#welcome-popup {
    @width: 700px;
    @height: 500px;
    
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    width: @width;
    height: @height;
    margin-left: @width / 2 * -1;
    margin-top: @height / 2 * -1;
    border: 1px solid #000;
    -webkit-box-shadow: #000 0px 0px 40px;
    
    padding: 60px 40px 20px 40px;
    
    font-family: Helvetica;
    font-size: 16px;
    line-height: 24px;
    
    h1 {
        line-height: 24px;
        font-size: 24px;
        color: #222;
        font-weight: bold;
        margin-bottom: 36px;
    }
    
    p {
        margin-top: 16px;
        
        .small {
            font-size: 14px;
            line-height: 24px;
        }
    }
    
    .buttons {
        
        position: absolute;
        bottom: 40px;
        left: 0px;
        right: 0px;
        line-height: 40px;
        font-size: 24px;
        text-align: center;
        
        a, a:link, a:visited {
            text-decoration: underline;
            font-weight: bold;
            color: blue;
            margin: 0px 10px;
        }
        
    }
    
}

@tab-border-color: #666;
#inspector {
    position: absolute;
    bottom: 0px;
    left: 100px;
    right: 0px;
    height: 70px;
    
    
    .tabs {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        height: 20px;
        
        font-size: 11px;
        border-bottom: 1px solid @tab-border-color;
        padding-left: 20px;
        
        .tab {
            float: left;
            margin-left: -1px;
            cursor: pointer;
            
            height: 16px;
            margin-top: 4px;
            line-height: 16px;
            background: #eee;
            
            padding-left: 10px;
            padding-right: 10px;
            
            border: 1px solid @tab-border-color;
            
            :hover {
                background: #f7f7f7
            }
        }
        
        .tab.active {
            cursor: default;
            background: #f5f6f7;
            border-bottom: none;
            margin-top: 0px;
            line-height: 20px;
            height: 20px;

            font-weight: bold;
            
            :hover {
                background: #f5f6f7;
            }
        }
    }
    
    .pane {
        display: none;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 20px;
        bottom: 0px;

        background: url(images/background-inspector.png) repeat-x;
        overflow: hidden;
        
        color: #000;
        text-shadow: 0px 1px #fff;
    }
    
    .pane.active {
        display: block;
    }
}

#insp-backgrounds-pane {
    padding: 10px 20px;
    
    ul {
        display: block;
        float: left;
        height: 30px;
        width: auto;
    }
    li {
        cursor: pointer;
        display: block;
        float: left;
    	margin-right: 10px;
        
    	height: 30px;
    	width: 30px;
    	-webkit-border-radius: 10px;
    	
    	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    }
    li.disabled {
        opacity: 0.7;
        cursor: default;
    }
    li.active {
        border: 1px solid rgb(255, 215, 0);
    	-webkit-box-shadow: rgba(255, 215, 0, 0.5) 0px 0px 10px;
    }
}

#insp-position-pane {
    font-size: 12px;
    line-height: 50px;
    padding: 0px 0px 0px 120px;
    ul, li {
        display: inline;
    }
    li {
        position: absolute;
    }
    #insp-rel-pos-li {
        left: 20px;
    }
    #insp-abs-pos-li {
        left: 140px;
    }
    #insp-size-li {
        left: 270px;
    }
}

#insp-text-pane {
    ul {
        display: block;
        position: absolute;
        bottom: 10px;
        width: auto;
    }
    
    li, .descr, #pixel-size-label {
        display: block;
        float: left;
    	line-height: 30px;
    	height: 30px;
    	font-size: 12px;
    }
    li {
    	width: 35px;
    	text-align: center;
    	font-weight: bold;
    	margin-right: 3px;
    	cursor: pointer;
        
    	.silver-bar-button;
    	
    	padding-left: 7px;
    	padding-right: 7px;
    }
    li.disabled {
        opacity: 0.9;
        color: #ccc;
        cursor: default;
    }
    .descr {
    	margin-right: 10px;
    }
    
    ul#text-size-group {
        left: 120px;
    }
    ul#text-style-group {
        left: 20px;
    }
    ul#shadow-style-group {
        left: 260px;
    }

    #pixel-size-label {
        margin-left: 10px;
    }
    
    #make-size-bigger {
        font-size: 14px;
    }
    #make-size-smaller {
        font-size: 11px;
    }
    
    #text-bold {
        font-weight: extra-bold;
    }
    #text-italic {
        font-style: italic;
    }
    #text-style-group li.active {
        color: gold;
    }
    
    #shadow-none {
        text-shadow: none;
    }
    #shadow-dark-above {
        color: #fff;
        text-shadow: 0px -1px #000;
    }
    #shadow-light-below {
        color: #000;
        text-shadow: 0px 1px #fff;
    }
    #shadow-dark-above.disabled {
        color: #ccc;
    }
    #shadow-light-below.disabled {
        color: #666;
    }
    
}

.context-menu {
	position: absolute;
	z-index: 99999;
	background: rgba(255, 255, 255, 0.97);
	padding: 5px 0px;
	margin: 0px;
	-webkit-border-radius: 5px;
	display: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
	
	li {
    	display: block;
    	list-style: none;
    	cursor: default;
    	
    	padding: 0px 20px;
    	margin: 0px;
    	
    	color: #000;
    	line-height: 20px;
    	height: 20px;
    	outline: none;
    	font-size: 15px;
	}
	
	li:hover {
    	color: #fff;
    	background-color: #597fee;
	}
	
	li.disabled {
    	color: #aaa;
    	cursor: default;
	}
	
	li:hover.disabled {
    	background-color: transparent;
	}
	
	li.separator {
    	border-top: solid 1px #CCC;
	}
}

#run-screen {
    background: rgba(0, 0, 0, 0.9);
}
 
#run-stop-button {
    cursor: pointer;
    position: absolute;
	line-height: 30px;
	height: 30px;
	top: 7px;
	left: 10px;
	font-size: 12px;
	font-weight: bold;

	text-decoration: none;
	text-align: center;
    	
	.silver-bar-button;

	width: auto;
	padding-left: 7px;
	padding-right: 7px;
}

#run-address-label {
    position: absolute;
	line-height: 30px;
	height: 30px;
	top: 7px;
	left: 200px;
	font-size: 12px;
	font-weight: bold;

	text-decoration: none;
	text-align: left;

	width: auto;
	padding-left: 7px;
	padding-right: 7px;
    
    span {
        text-decoration: underline;
    }
    
    color: #fff;
}

#run-iframe {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 320px;
    height: 480px;
    margin-left: -160px;
    margin-top: -240px;
}

.mockko-logo-titlebar {
    display: inline-block;
    line-height: 40px;
    padding-left: 33px;
    background: url(images/mockko-logo-35.png) no-repeat 0px -1px;
}
