!!! 5
%html
  %head
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    %link(rel="stylesheet" href="./static/lib/animations.css" type="text/css" media="screen" title="no title" charset="utf-8")
    %link(rel="stylesheet" href="./static/theme/theme-common.css" type="text/css" media="screen" title="no title" charset="utf-8")
    %link(rel="stylesheet" href="./static/theme/theme-designer.css" type="text/css" media="screen" title="no title" charset="utf-8")
    %link(rel="stylesheet" href="./static/theme/theme-dashboard.css" type="text/css" media="screen" title="no title" charset="utf-8")
    %link(rel="stylesheet" href="./static/iphone/iphone.css" type="text/css" media="screen" title="no title" charset="utf-8")
    %link(rel="stylesheet" href="./webios/webios/webios-components.css" type="text/css" media="screen" title="no title" charset="utf-8")
    %script(src="./static/lib/jquery-1.4.2.js" type="text/javascript" charset="utf-8")
    %script(src="./static/lib/jquery-ui-1.8.custom.min.js" type="text/javascript" charset="utf-8")
    %script(src="./static/lib/underscore.js" type="text/javascript" charset="utf-8")
    / %script(src="./minified/designer.premin.js" type="text/javascript" charset="utf-8")
    %script(src="./static/lib/jquery.cookie.js" type="text/javascript" charset="utf-8")
    %script(src="./static/geometry.js" type="text/javascript" charset="utf-8")
    %script(src="./static/designer-offline.js" type="text/javascript" charset="utf-8")
    %script(src="./static/designer-online.js" type="text/javascript" charset="utf-8")
    %script(src="./static/designer-jqueryaddons.js" type="text/javascript" charset="utf-8")
    %script(src="./static/designer-components.js" type="text/javascript" charset="utf-8")
    %script(src="./static/designer-templates.js" type="text/javascript" charset="utf-8")
    %script(src="./static/designer-actions.js" type="text/javascript" charset="utf-8")
    %script(src="./static/designer-serialization.js" type="text/javascript" charset="utf-8")
    %script(src="./static/designer-rendering.js" type="text/javascript" charset="utf-8")
    %script(src="./static/designer-undo.js" type="text/javascript" charset="utf-8")
    %script(src="./static/designer-model.js" type="text/javascript" charset="utf-8")
    %script(src="./static/designer-alignment-detection.js" type="text/javascript" charset="utf-8")
    %script(src="./static/designer-stacking-legacy.js" type="text/javascript" charset="utf-8")
    %script(src="./static/designer-hover-panel.js" type="text/javascript" charset="utf-8")
    %script(src="./static/designer-snapping.js" type="text/javascript" charset="utf-8")
    %script(src="./static/designer-layouting.js" type="text/javascript" charset="utf-8")
    %script(src="./static/designer-effect-live-applicator.js" type="text/javascript" charset="utf-8")
    %script(src="./static/designer-dragging.js" type="text/javascript" charset="utf-8")
    %script(src="./static/designer-resizing.js" type="text/javascript" charset="utf-8")
    %script(src="./static/designer-inspector.js" type="text/javascript" charset="utf-8")
    %script(src="./static/jpicker.js" type="text/javascript" charset="utf-8")
    %script(src="./static/designer.js" type="text/javascript" charset="utf-8")
    %title
      Mockko: iPhone Mockups | iPad Mockups | Android Mockups
    %script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17047204-1']);
      _gaq.push(['_setDomainName', 'none']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ?
      'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
      })();
  %body
    #dashboard-screen.screen
      .toolbar
        .left
          %a#new-app-button(href="#") New Application
        .right
          %a#logout-button.logout-button(href="#") Sign Out
        %h1
          My Applications
          .mockko-logo-titlebar

      /
        #go-native
          Download
          %a(href="http://files.tarantsov.com/Mockko.msi") Mockko for Windows
          •
          %a(href="http://files.tarantsov.com/Mockko.dmg") Mockko for Mac OS X
        
      #apps-list
        #apps-list-container.apps-list-container
          #app-template.app.template
            .pile1
            .pile2
            .content
              .rendered
            .caption
              My Frickin' App
        #sample-apps-separator
          Sample Apps
        / #sample-apps-list-container.apps-list-container
        

    #design-screen.screen

      .toolbar
        .left
          / %a#login-button.login-button(href="#") Sign In To Continue
          %a#dashboard-button(href="#myapps") My Applications
          %a#undo-button(href="#undo")
            #undo-hint
              %span Undo something...
            Undo
        .right
          %a#logout-button.logout-button(href="#") Sign Out
          / %a#share-button(href="#") Share
          %a#run-button(href="#") Run
        %h1#app-name
          %span#app-name-content My Great App
          .mockko-logo-titlebar
        
      #screens-pane.left-pane
        #screens-list
          #app-screen-template.app-screen.template
            .content
              .rendered
            .caption
      #add-screen-pane
        #add-screen-button
      
      #design-pane
        #device-panel.d-iphone-po
          #design-area
            #hover-panel.hover-panel
              .handle.delete-handle
                .tip delete
              .handle.duplicate-handle
                .tip duplicate
              .handle.link-handle
                .tip drag&nbsp;to&nbsp;set&nbsp;linked&nbsp;screen
              .handle.unlink-handle
                .tip click&nbsp;to&nbsp;remove&nbsp;link
              .resizing-handle.resizing-ne.resizing-tl
              .resizing-handle.resizing-n.resizing-tc
              .resizing-handle.resizing-nw.resizing-tr
              .resizing-handle.resizing-e.resizing-cl
              .resizing-handle.resizing-e.resizing-cr
              .resizing-handle.resizing-nw.resizing-bl
              .resizing-handle.resizing-n.resizing-bc
              .resizing-handle.resizing-ne.resizing-br

      #palette
        #palette-container

      #share-popover
        .tip
        .top
          %h1 Copy or paste JSON data
        .content
          %textarea
          
      #inspector
        .tabs
          #insp-backgrounds-tab.tab Backgrounds
          #insp-text-tab.tab Text
          #insp-position-tab.tab Position
          / #insp-action-tab.tab Action
        #insp-backgrounds-pane.pane
          %ul#backgrounds-palette
            %li#background-swatch-template.template
        #insp-text-pane.pane
          %ul#text-size-group
            %li#make-size-smaller A
            %li#make-size-bigger A
            #pixel-size-label
          %ul#text-style-group
            %li#text-bold B
            %li#text-italic I
          %ul#shadow-style-group
            .descr Shadow:
            %li#shadow-none(title="None") N
            %li#shadow-dark-above(title="Dark, above object") A
            %li#shadow-light-below(title="Light, below object") B
          %ul#color-style-group
            .descr
              = "#"
              %input#text-color-input(value="e0e0e0")
            %li#pick-color-button(title="Pick Color")
              #pick-color-swatch.color-swatch
        #insp-position-pane.pane
          %ul
            %li#insp-rel-pos-li
              In parent:
              %span#insp-rel-pos (10, 100)
            %li#insp-abs-pos-li
              On screen:
              %span#insp-abs-pos (10, 230)
            %li#insp-size-li
              Size:
              %span#insp-size 150x30
        /
          #insp-action-pane.pane
            %ul#action-group
              .descr When this object is tapped:
              %li#no-action-button Do Nothing
              %li#set-action-button Switch To Screen
              #chosen-action-label (no action set)
    #color-picker

    #welcome-screen.screen
      #welcome-popup
        %h1 Here's our approach to mobile application design.
        
        %p
          1. Super-fast pixel-perfect design with <b>every popular style built-in</b>.
          You don't spend hours moving pixels around because Mockko knows all about:
          %small
            tinted navigation bars, App Store-style listings, plastic lists with full-height images,
            Stopwatch colored buttons, Contacts colored buttons, Tweetie reload controls,
            customized maps, tab bar icon effects, and 72 more things.
          
        %p
          2. A <b>fully working prototype</b> is a click away: run it on a real device or in your browser.
          Share one with your colleagues, clients and bosses, they won't even need an account.
        
        %p
          3. Don't throw your prototype away, export an <b>Xcode project</b> or an <b>HTML5 web application</b> instead.
          
        %p
          Mockko only targets the iPhone for now, with iPad and Android support coming soon.
      
        
        .buttons
          %a#welcome-login-link.login-button(href='#') Sign In
          or
          %a#welcome-continue-link(href='#') Try Mockko anonymously
        .unsupported
          Sorry, Mockko requires Safari or Google Chrome.
          %br
          Downloadable browser-independent version is coming soon.

    #run-screen.screen
      #run-stop-button Back to Designer
      #run-address-label Visit from an iPhone/iPad, or share this link: <a href="#" target="_new">http://example.com/</a>
      %iframe#run-iframe
      
          
    %ul#component-context-menu.context-menu
      %li#delete-component-menu-item Delete
      %li#duplicate-component-menu-item Duplicate
    %ul#custom-image-context-menu.context-menu
      %li#delete-custom-image-menu-item Delete
    %ul#screen-context-menu.context-menu
      %li#rename-screen-menu-item Rename
      %li#duplicate-screen-menu-item Duplicate
      %li#delete-screen-menu-item Delete
    %ul#application-context-menu.context-menu
      %li#rename-application-menu-item Rename
      %li#duplicate-application-menu-item Duplicate
      %li#delete-application-menu-item Delete

%canvas#link-overlay.overlay(style="display: none")
