!!! 5
%html
  %head
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    %link(rel="stylesheet" href="./static/home.css" type="text/css" media="screen" title="no title" charset="utf-8")
    %script(src="./static/lib/jquery-1.4.2.js" type="text/javascript" charset="utf-8")
    %script(src="./static/lib/underscore.js" type="text/javascript" charset="utf-8")
    / %script(src="./minified/designer.premin.js" type="text/javascript" charset="utf-8")
    %script(src="./static/home.js" type="text/javascript" charset="utf-8")
    %title
      Mockko: iPhone Mockups | iPad Mockups | Android Mockups
  %body
    .container
      %h1 Mockko: iPhone UI Design Is Now Addictive.
      %h2 Quickly create gorgeous prototypes and share them with your customers or developers.
      #button-bar
        %a#download-button(href="#download")
          .label Download
          .sublabel coming soon
        %a#run-in-browser(href="designer")
          .label Run in Browser
          .sublabel Safari or Chrome only
        %a#buy-button(href="buy")
          .label Buy Now
          .sublabel $79/y or $9/mo
      #screenshots-and-features
        %ul#left-features.features
          %li Bars, Buttons, Maps and Panels included
          %li MagicSnap for instant layouts
          %li Run designs on iPhone or in browser
          %li Includes Glyphish icons
          %li iPad mockups coming soon
        %ul#right-features.features
        .screenshots
          %img(src="./static/home/screenshots/mockko.png" alt="")
    %script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17047204-1']);
      _gaq.push(['_setDomainName', 'none']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ?
      'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
      })();
