!!! 5
%html
  %head
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=1024" />
    %link(rel="stylesheet" href="./static/home.css" type="text/css" media="screen" title="no title" charset="utf-8")
    %script(src="./static/lib/jquery.js" type="text/javascript" charset="utf-8")
    %script(src="./static/lib/underscore.js" type="text/javascript" charset="utf-8")
    / %script(src="./minified/designer.premin.js" type="text/javascript" charset="utf-8")
    %script(src="./static/home.js" type="text/javascript" charset="utf-8")
    %title
      Mockko: iPhone Mockups | iPad Mockups | Android Mockups
  %body
    #header-pane.pane
      #header-container.container
        %h1 Mockko: iPhone UI Design Is Now Addictive.
        %h2 Quickly create gorgeous prototypes and share them with your customers or developers.
        #title-overlay
      #button-container.container
        .sep-left
        .button(href="#")
        / #download.button(href="#download")
        /   .label Download
        /   .sublabel Win/OS X coming soon
        %a#run-in-browser.button(href="designer")
          .label Run in Browser
          .sublabel Safari/Chrome only, iPad soon
        .button(href="#")
        / #buy.button(href="buy")
        /   .label Prepare to Buy
        /   .sublabel We're getting beta and beta
        .sep-right
    #screenshots-and-features-pane.pane
      .container
        .features
          %ul
            %li#feat-palette
              .sep
              Bars, Buttons, Maps and Panels included
            %li#feat-magicsnap
              .sep
              MagicSnap for instant layouts
            %li#feat-run
              .sep
              Run designs on iPhone or in browser
            %li#feat-glyphish
              .sep
              Includes Glyphish icons
            %li#feat-ipad
              .sep
              iPad mockups coming soon
          .sep
        .screenshots
          %img(src="./static/home/screenshots/mockko.png" alt="")
    #footer-pane
      .container
        %a#twitter(href="http://twitter.com/mockko/") twitter.com/mockko
        %a#email(href="mailto:info@mockko.com") info@mockko.com
        #icons-by
          icons by
          %a(href="http://glyphish.com/") glyphish
          and
          %a(href="http://eddit.com/shop/iphone_ui_icon_set/") eddit
    %script
      :plain
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-17047204-1']);
        _gaq.push(['_setDomainName', 'none']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ?
        'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
        })();
        var uservoiceOptions = {
          /* required */
          key: 'mockko',
          host: 'votebox.mockko.com',
          forum: '54458',
          showTab: true,
          /* optional */
          alignment: 'left',
          background_color:'#f00',
          text_color: 'white',
          hover_color: '#06C',
          lang: 'en'
        };

        function _loadUserVoice() {
          var s = document.createElement('script');
          s.setAttribute('type', 'text/javascript');
          s.setAttribute('src', ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js");
          document.getElementsByTagName('head')[0].appendChild(s);
        }
        _loadSuper = window.onload;
        window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
